version: '3.7'

services:
  reverse-proxy:
    image: traefik:{{ traefik_version }}
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "443:443"
{% for name, portnumber in traefik_additional_entrypoints.items() %}
      - "{{ portnumber }}:{{ portnumber }}"
{% endfor %}
{% if _traefik_volumes %}
    volumes:
{% for vol in _traefik_volumes %}
      - {{ vol }}
{% endfor %}
{% endif %}
{% if traefik_environment_variables %}
    environment:
{% for k, v in traefik_environment_variables.items() %}
      - {{ k }}={{ v }}
{% endfor %}
{% endif %}
{% if traefik_extra_hosts %}
    extra_hosts:
{% for host in traefik_extra_hosts %}
      - {{ host }}
{% endfor %}
{% endif %}
{% if traefik_network_name %}
networks:
  default:
    name: {{ traefik_network_name }}
{% endif %}
