{% if traefik_api_domain_name %}
[http.routers.traefik_api]
    rule = "Host(`{{ traefik_api_domain_name }}`)"
    service = "api@internal"
    entryPoints = ["https"]
    middlewares = ["traefik_auth"]

[http.routers.traefik_api.tls]

[http.middlewares.traefik_auth.basicAuth]
    users = [
{% for user in traefik_api_users %}
        "{{ user.username }}:{{ user.password | password_hash('bcrypt') }}",
{% endfor %}
    ]
{% endif %}
