[serversTransport]
# Allow backend connections to have insecure (self-signed) certificates
insecureSkipVerify = true

[entryPoints.http]
address = ":80"

[entryPoints.https]
address = ":443"
{% if traefik_dashboard_port %}

[entryPoints.traefik]
address = ":{{ traefik_dashboard_port }}"
{% endif %}

[api]
{% if traefik_dashboard_port %}
    dashboard = true
    insecure = true
{% else %}
    dashboard = false
{% endif %}

{% for certificate in traefik_ssl_files %}
[[tls.certificates]]
    certFile = "/opt/ssl_certs/{{ certificate.domain }}.cert"
    keyFile = "/opt/ssl_certs/{{ certificate.domain }}.key"

{% endfor %}

[providers.docker]
network = "{{ traefik_network_name }}"
