[serversTransport]
# Allow backend connections to have insecure (self-signed) certificates
insecureSkipVerify = true

[entryPoints.http]
address = ":80"

[entryPoints.https]
address = ":443"

{% for name, portnumber in traefik_additional_entrypoints.items() %}
[entryPoints.{{ name }}]
address = ":{{ portnumber }}"

{% endfor %}
[api]

[providers.docker]
exposedByDefault = false
network = "{{ traefik_network_name }}"

[providers.file]
filename = "/etc/traefik/dynamic_conf.toml"

{% for resolver in traefik_certificate_resolvers %}
[certificatesResolvers.{{ resolver.name }}.acme]
  email = "{{ resolver.email }}"
  storage = "{{ resolver.storage }}"
  [certificatesResolvers.{{ resolver.name }}.acme.dnsChallenge]
    provider = "{{ resolver.dns_provider }}"

{% endfor %}
